* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: lightblue;
    padding: 50px;
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    background-color: white;
    margin: 0 auto;
    height: 90vh;
    width: 70vw;
    padding: 2rem;
}

.box-1 {
    margin-bottom: 2rem;
}

.box-2 {
    direction: rtl;
}

h1 {
    text-align: center; 
    font-size: 2rem;                        /* 2 times the base font-size */
    text-decoration: underline;
    text-shadow: 4px 4px 0 rgb(0 0 0 / 10%);        
    margin-bottom: 0.6rem;
    letter-spacing: 6px; /* space between each letter */
}

h2 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: lighter;
    color: gray;
    /* alternative: font-weight: 500; */
    font-size: 1.2rem;
}

span {
    text-decoration: line-through;
}